*{
    margin: 0px;
    padding:0px;
}

body{
    height: 100vh;
    padding-top: 30px;
    box-sizing: border-box;
    background-color: #eae1de;
}

.titulo{
    display: flex;
    text-align: center;
    background-color: #ecc6d8;
    color: #e18080;
    padding: 10px 40%;
    font-family: Arial, Helvetica, sans-serif;
}

.icone{     
    width:20px
}

.subtitulo{
    color:#d05c5c;
    text-align: center;
    text-decoration: underline;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}   

.prato{
    display:inline;
    justify-content: space-evenly;
    margin-left: 87px;
    width: 120px;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color:#d05c5c;
}   

.customizacaoPratoPrincipal{ 
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    margin: 20px 400px;
    padding: 10px 0px 20px 0px;
    border-style: solid;
    border-radius: 7px;
    border-color:#d05c5c;
    height: 150px;
    background-color: rgb(243, 222, 222);
}

.sobremesa{
    display:inline;
    justify-content: space-evenly;
    margin-left: 87px;  
    width: 120px;
    border: 3px;
    border-style: solid;
    border-radius: 5px;
    border-color:#d05c5c;
    font-family: Arial, Helvetica, sans-serif; 
}

.customizacaoSobremesa{
    justify-content: space-around;
    gap: 30px;
    align-items: center;
    margin: 20px 400px;
    padding: 10px 0px 20px 0px;
    border-style: solid;
    border-radius: 7px;
    border-color:#d05c5c;
    height: 150px;
    background-color: rgb(243, 222, 222);  
}

.nomePratoPrincipal{
    display: flex;
    justify-content: space-between;
    gap: 2  0px;
    align-items: center;
    color:#d05c5c;
    padding: 10px 140px 20px 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.frango{
    padding-right: 50px;
}

.nomeSobremesa{
    display: flex;
    justify-content: space-between;
    gap: 2  0px;
    align-items: center;
    color:#d05c5c;
    padding: 10px 95px 0px 130px;
    font-family: Arial, Helvetica, sans-serif;
}

.bolo{
    padding-left: 40px;
}

.macarrao{
    font-weight: bold;
}
