*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.titulo-subtitulo{
    display:block;
    text-align: center;
    color: #FFFFFF;
    background-color: #090989;
    margin: 5px 5px 0px 5px;
    padding: 30px 0px;
}  

.conteudo{
    padding: 30px 20px;
}

.cores-favoritas{
    padding: 15px 0px;
    margin-left: 10px;
    font-size: x-small;
    border:#bcbcdb
}

li{
    background-color: #bcbcdb;
    padding: 1.5px;
}

.subtitulo-com-linha{
    position: relative;
    color: rgb(9, 9, 137);
}

.subtitulo-com-linha:after{
    content: '';
    display: block;
    width: 100%; 
    height: 2px; 
    background-color: #090989; 
    position: absolute;
    bottom: 0; 
    left: 0;
}

.primeiro-item{
    padding: 10px 0px;
}

.segundo-item{
    padding: 0px 0px 10px 0px;
}

.footer{
    display:block;
    text-align: center;
    color: #FFFFFF;
    background-color: #090989;
    margin: 5px 5px 0px 5px;
    padding: 20px 0px;
}
